@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow: hidden;
}

@keyframes slideUp {
  from {
    transform: translateX(-300%);
  }
  to {
    transform: translateX(0);
  }
}

.slideUp {
  animation: slideUp 1s ease-in-out;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  animation: fade 0.3s ease-in-out forwards;
}

@keyframes fade2 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-start {
  animation: fade2 1s ease-in-out forwards;
}

.animated-container {
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards; /* Maintain the final state after animation */
}

@keyframes slideDown {
  from {
    transform: translateY(-130%);
  }
  to {
    transform: translateY(0);
  }
}

.slideDown {
  animation: slideDown 0.7s ease-in-out;
}

@keyframes slideTop {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-300%);
  }
}

.slideTop {
  animation: slideTop 0.5s ease-in-out;
}
