@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes slideUp {
  from {
    transform: translateX(-300%);
  }
  to {
    transform: translateX(0);
  }
}

.slideUp {
  animation: slideUp 1s ease-in-out;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  animation: fade 0.3s ease-in-out forwards;
}
